<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <application
            android:icon="@mipmap/icon"
            android:label="CacheCleaner"
            tools:targetApi="34">
        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposeddescription"
                android:value="アプリの起動時にキャッシュをクリアするよ！|When the software starts, clear the cache first!"/>
        <meta-data
                android:name="xposedminversion"
                android:value="93"/>
        <meta-data
                android:name="xposedsharedprefs"
                android:value="true"/>
        <!--<meta-data
                android:name="xposedscope"
                android:resource="@array/CacheCleaner" />-->
    </application>
</manifest>
